/local-config.php
/sql-dump-*.sql
/db-sync
/content/upgrade/
.DS_Store
.htaccess
xmlrpc.php
wp-config.php
wp-content/upgrade/*
wp-content/backup-db/*
wp-content/advanced-cache.php
wp-content/wp-cache-config.php
wp-content/cache/*
wp-content/cache/supercache/*
wp-content/w3tc/*
wp-content/w3-total-cache-config.php
wp-content/w3-total-cache-config-preview.php
/content/sitemap.xml
sitemap.xml.gz
/content/cache/autoptimize/*
