.flex_column.av-jgufrp99-c5184001467a1c17e792e3976ccab063{
border-radius:0px 0px 0px 0px;
-webkit-border-radius:0px 0px 0px 0px;
-moz-border-radius:0px 0px 0px 0px;
}

.flex_column.av-jgtuemsv-d54419f600ae2ba051f9c83cb6b1f8d7{
border-width:1px;
border-color:rgba(143,153,99,0.46);
border-style:solid;
border-radius:4px 4px 4px 4px;
-webkit-border-radius:4px 4px 4px 4px;
-moz-border-radius:4px 4px 4px 4px;
}

